<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ClientId" value="93654"/>
		<add key="ClientSecret" value="a12792779218b6218e81f7a39e66776314e7f59b"/>

	</appSettings>
	<connectionStrings>
		<add name="StravaData" connectionString="Data Source=(localdb)\MSSQLLocalDB;Database=StravaData;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Connect Timeout=60;Encrypt=False;TrustServerCertificate=False;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>